*{
  font: "Times New Roman", serif;
}

body{
  background-color: #C1D3E6;
  margin: 10px;
}

th{
  width: 10%;
}

img.rect{
  border: 5px solid black;
}

img.rounded{
  border-radius: 20px;
  border: 5px solid black;
}

p{
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: black;
}

h2{
  text-decoration: underline;
}

table, th, td{
  border:1px solid black;
}
.center{
  text-align: center;
}



ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.navbar{
  float: left;
}

li.navbar > a{
  display: block;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  background-color: #2F3243;
  color: #EDECF5;
  margin-left: -10px;
  margin-top: -10px;
}

li.navbar > a:hover{
  background-color: #000000;
  color: #FFFFFF;
}

li.navbar > a:active{
  background-color: #004E9A;
  color: #FFFFFF;
}

a:visited{
  color:#7A5BD2;
}

footer a:hover{
  color: #009AFF;
}

div.listmargin li{
  margin-left: 50px;
}

#margin2{
  margin-left: 20px;
  margin-right: 20px;
}

#margin3{
  margin-left: 20px;
  margin-right: 20px;
}

#blue{
  background-color: #004E9A;
}

a[href$=".org"]:hover{
  color: #004EDB;
}

img[src$=".jpeg"]{
  margin-left: auto;
  margin-right: auto;
  width:70%;
  display:block;
}

img[src$="jpg"]{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:90%
